.about{
    /* background-color: transparent; */
    background-color: rgb(56, 120, 124);
    font-size: 1.1em;
}
/* .fo{
    color: cornsilk;
} */
.profile{
    max-width: 18em;
}

.my-details {
    background-attachment: rgba(255,255,255,0.747);
}
.cardcontainer{
    /* background-color: rgb(56, 120, 124); */
    background-color: white;
}